* reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 14, 14);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: red;
  margin-top: -5px;
  margin-right: -7px;
  margin-bottom: 0px;
  margin-left: -7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 30%;
  justify-content: center;
  align-items: center;
}

main.container {
  max-width: 100%;
  text-align: center;
  padding: 10px;
}
main.container nav ul {
  text-align: center;
  list-style: none;
}
main.container nav ul li {
  margin-top: 5px;
}
main.container nav ul li a {
  text-decoration: none;
}
main.container nav ul li a:hover {
  color: pink;
}
main.container .inicio {
  color: blue;
}
main.container .iniciotext {
  color: white;
}

section.container2 .galeria1 {
  color: yellow;
  text-align: center;
}

.carrusel {
  display: flex;
  width: auto;
  height: 150px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.carrusel img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid red;
  transition: all ease-out 0.5s;
  cursor: pointer;
}
.carrusel img:hover {
  width: 300px;
  height: 300px;
}

footer {
  text-align: center;
}
footer h6 {
  color: white;
  font-size: 10px;
}

main.containertres {
  display: flex;
  text-align: center;
}
main.containertres .proyectoavengers {
  color: blue;
}
main.containertres .iniciotext2 {
  color: white;
}
main.containertres .iniciotext3 {
  color: white;
}
main.containertres .nick {
  text-align: center;
  padding: 20px;
}
main.containertres .nick img {
  width: 30%;
}

section.containercuatro {
  color: white;
  text-align: center;
  align-items: center;
}
section.containercuatro .proytex {
  color: white;
}
section.containercuatro span {
  display: block;
  text-decoration: underline;
}
section.containercuatro .pa {
  color: pink;
}

main.containercinco {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px;
}
main.containercinco .tonyt {
  color: blue;
  text-align: center;
}
main.containercinco .tonytext {
  color: white;
}

section.containerseis {
  text-align: center;
  color: yellow;
}
section.containerseis .tst {
  margin-top: 20px;
}
section.containerseis .carrusel2 {
  display: flex;
  height: 200px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
section.containerseis .carrusel2 :hover {
  width: 300px;
  height: 300px;
}
section.containerseis .carrusel2 img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid red;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

main.containercap {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px;
}
main.containercap .titulocap {
  color: blue;
  text-align: center;
}

section.steve img {
  max-width: 100%;
  height: auto;
}
section.steve div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin: 5px;
}
section.steve .sr {
  color: yellow;
  text-align: center;
}

main.containersiete {
  display: flex;
  text-align: center;
  color: blue;
  padding: 15px;
}
main.containersiete img {
  width: 50%;
}
main.containersiete .thortext {
  color: white;
  text-align: center;
}
main.containersiete .thortext2 {
  color: gray;
}

section.containerocho {
  text-align: center;
  color: white;
}
section.containerocho .titulot {
  color: green;
}
section.containerocho .thortext3 {
  color: white;
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 600px) {
  header img {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}
footer {
  margin-top: 170px;
  text-align: center;
}
footer h6 {
  color: white;
  font-size: 10px;
}

@media screen and (min-width: 1024px) {
  header li {
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  footer {
    margin-top: 200px;
    text-align: center;
  }
  footer h6 {
    color: white;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
