* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 14, 14);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: red;
  margin-top: -5px;
  margin-right: -7px;
  margin-bottom: 0px;
  margin-left: -7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 30%;
  justify-content: center;
  align-items: center;
}

main.container {
  max-width: 100%;
  text-align: center;
  padding: 10px;
}
main.container nav ul {
  text-align: center;
  list-style: none;
}
main.container nav ul li {
  margin-top: 5px;
}
main.container nav ul li a {
  text-decoration: none;
}
main.container nav ul li a:hover {
  color: pink;
}
main.container .inicio {
  color: blue;
}
main.container .iniciotext {
  color: white;
}

section.container2 .galeria1 {
  color: yellow;
  text-align: center;
  margin-bottom: 100px;
}

.carrusel {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.carrusel img {
  width: 80%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid red;
  transition: all ease-out 0.5s;
  cursor: pointer;
}
.carrusel img:hover {
  max-height: 300px;
  width: 300px;
}

footer {
  margin-top: 170px;
  text-align: center;
}
footer h3 {
  color: white;
  font-size: 10px;
}

main.containertres {
  display: flex;
  text-align: center;
}
main.containertres .proyectoavengers {
  color: blue;
}
main.containertres .iniciotext2 {
  color: white;
}
main.containertres .iniciotext3 {
  color: white;
}
main.containertres .nick {
  text-align: center;
  padding: 20px;
}
main.containertres .nick img {
  width: 50%;
}

section.containercuatro {
  color: white;
  text-align: center;
  align-items: center;
}
section.containercuatro .proytex {
  color: white;
}
section.containercuatro span {
  display: block;
  text-decoration: underline;
}
section.containercuatro .pa {
  color: pink;
}

main.containercinco {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px;
}
main.containercinco .tonyt {
  color: blue;
  text-align: center;
}
main.containercinco .tonytext {
  color: white;
}
main.containercinco span {
  display: block;
  text-decoration: underline;
}

section.grid-container {
  text-align: center;
  color: yellow;
}
section.grid-container img {
  width: 100%;
  height: 100%;
  margin: 5px 5px;
}
section.grid-container .tst {
  margin-top: 20px;
}
section.grid-container .grid-galeria {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  grid-gap: 10px;
  object-fit: cover;
}
section.grid-container .grid-galeria img:nth-child(n+4) {
  display: none;
}
section.grid-container .grid-galeria img {
  object-fit: cover;
}

main.containercap {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px;
}
main.containercap .titulocap {
  color: blue;
  text-align: center;
}

section.steve img {
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px white;
}
section.steve div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin: 5px;
}
section.steve .sr {
  color: yellow;
  text-align: center;
}

main.containersiete {
  display: flex;
  text-align: center;
  color: blue;
  padding: 15px;
}
main.containersiete img {
  width: 50%;
  object-fit: cover;
}
main.containersiete .thortext {
  color: white;
  text-align: center;
}
main.containersiete .thortext2 {
  color: gray;
}

section.containerocho {
  text-align: center;
  color: white;
}
section.containerocho .titulot {
  color: green;
}
section.containerocho .thortext3 {
  color: white;
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 600px) {
  header img {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  section.container2 .galeria1 {
    color: yellow;
    text-align: center;
    margin-bottom: 150px;
  }
  section.grid-container {
    text-align: center;
    color: yellow;
  }
  section.grid-container img {
    width: 100%;
    height: 100%;
    margin: 5px 5px;
  }
  section.grid-container .tst {
    margin-top: 20px;
  }
  section.grid-container .grid-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
  }
  section.grid-container .grid-galeria img:nth-child(n+4) {
    display: block;
  }
  section.grid-container .grid-galeria img:nth-child(6) {
    grid-row-start: span 2;
  }
}
@media screen and (min-width: 1024px) {
  header li {
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 50;
    justify-content: center;
    align-items: center;
  }
  section.container2 .galeria1 {
    color: yellow;
    text-align: center;
    margin-bottom: 50px;
  }
  .carrusel {
    display: flex;
    width: 100%;
    height: 150px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
  }
  .carrusel img {
    width: 30%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid red;
    transition: all ease-out 0.2s;
    cursor: pointer;
  }
  .carrusel img:hover {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 10;
    transform: scale(1.5);
  }
  footer {
    margin-top: 100px;
    text-align: center;
  }
  footer h6 {
    color: white;
    font-size: 10px;
  }
  section.grid-container {
    text-align: center;
    color: yellow;
  }
  section.grid-container img {
    width: 100%;
    height: 100%;
    margin: 5px 5px;
  }
  section.grid-container .tst {
    margin-top: 20px;
  }
  section.grid-container .grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
  }
  section.grid-container .grid-galeria img:nth-child(n+4) {
    display: block;
  }
  section.grid-container .grid-galeria img:nth-child(6) {
    display: none;
  }
  section.grid-container .grid-galeria img:nth-child(7) {
    grid-column-start: span 3;
  }
  section.grid-container .grid-galeria img:nth-child(3) {
    grid-row-start: span 2;
  }
}

/*# sourceMappingURL=style.css.map */
